:root{
    --colorBlanco: #fff;
    --colorGris: #D8D8D8;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/img/bg-body.png');
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}